mixin h2(title, link = "")
  h2(id=link) #{title}&nbsp;
    a(href="#" + link, aria-label="Ссылка на раздел: " + title)

mixin h3(title, link = "")
  h3(id=link) #{title}&nbsp;
    a(href="#" + link, aria-label="Ссылка на раздел: " + title)

mixin h4(title, link = "")
  h4(id=link) #{title}&nbsp;
    a(href="#" + link, aria-label="Ссылка на раздел: " + title)

mixin h5(title, link = "")
  h5(id=link) #{title}&nbsp;
    a(href="#" + link, aria-label="Ссылка на раздел: " + title)

mixin h6(title, link = "")
  h6(id=link) #{title}&nbsp;
    a(href="#" + link, aria-label="Ссылка на раздел: " + title)
